<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smilehappiness.mock.mapper.IMockApiMapper">

    <select id="queryMockApi" parameterType="java.lang.Object" resultType="com.smilehappiness.mock.model.MockApiEntity">
        SELECT d.url           as url,
               d.desc          as `desc`,
               d.response_body as responseBody,
               d.var_list      as varList,
               d.rule_list     as ruleList,
               d.sort          as sort
        from mock_api d
        where d.is_delete = 0
          and url = #{url}
        order by sort asc
    </select>

    <select id="countMockApiByUrl" parameterType="java.lang.Object" resultType="java.lang.Integer">
        SELECT count(1)
        from mock_api d
        where d.is_delete = 0
          and url = #{url}
        order by id asc
    </select>

</mapper>